{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
{% endblock %}

{% block body %}
    <h1>Trouve mon lieu</h1>

    <h2>Choisissez une partie :</h2>

    <ul>
        {% for game in games %}
            <li><a href="{{ path('app_game', {'id': game.id}) }}">{{ game.name }}</a></li>
				{% else %}
					<li>Aucune partie pour le moment</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block javascripts %}
{% endblock %}

